asgiref
certifi
cffi
charset-normalizer
cloudinary
colorama
cors
crispy-bootstrap5
crispy-tailwind
distlib
dj-database-url
Django
django-cloudinary-storage
django-cors-headers
django-crispy-forms
django-environ
django-extensions
django-filter
djangorestframework
filelock
future
gevent
greenlet
idna
Markdown
MouseInfo
numpy
opencv-python
pillow
pipenv
platformdirs
psycopg2
psycopg2-binary
PyAutoGUI
pycparser
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
PySocks
python-decouple
pytweening
requests
requests-file
setuptools
six
sqlparse
tldextract
typing_extensions
tzdata
urllib3
virtualenv
zope.event
zope.interface